.button {
	@apply relative inline-flex items-center justify-center whitespace-nowrap box-border select-none subpixel-antialiased duration-200;

	/**
	 * Button variant
	 */
	&.button-variant-solid {
		@apply bg-[--btn-solid] text-[--btn-foreground];
		&:not(:disabled):hover {
			@apply bg-[--btn-solid-hover];
		}
	}
	&.button-variant-outline {
		@apply bg-[--btn-solid] text-white rounded-xl px-4 py-2.5;
	}

	/**
	 * Button size
	 */
	&.button-size-sm {
		@apply px-3 h-8 min-w-16 text-sm font-normal rounded-xl gap-1;
	}
	&.button-size-md {
		@apply px-4 h-10 min-w-20 text-sm font-normal rounded-xl gap-1;
	}
	&.button-size-lg {
		@apply px-6 h-12 min-w-24 text-base font-normal rounded-[14px] gap-1;
	}

	/**
	 * Button color
	 */
	&.button-color-berry {
		--btn-solid: var(--color-berry-700);
		--btn-solid-hover: var(--color-berry-800);
		--btn-foreground: var(--color-berry-50);
	}
	&.button-color-basic {
		--btn-solid: var(--color-basic-700);
		--btn-solid-hover: #000000;
		--btn-foreground: var(--color-berry-50);
	}
	&.button-color-paradiso {
		--btn-solid: var(--color-berry-700);
		--btn-solid-hover: var(--color-berry-800);
		--btn-foreground: var(--color-berry-50);
	}
}
